*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.counter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

.counter__button {
    margin-left: 1rem;
    padding: .2rem .4rem;
}